.footer {
  background: #efeee8;
  padding: 60px 28px 30px;
  color: #333;
  font-family: "Inter", sans-serif;
}

/* TOP */

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 80px;
}

.newsletter {
  width: 450px;
}

.newsletter h3,
.footer-column h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 26px;
  color: #222;
}

.newsletter-input {
  display: flex;
  border: 1px solid #9f9b92;
  height: 58px;
}

.newsletter-input input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 0 24px;
  font-size: 14px;
  outline: none;
}

.newsletter-input button {
  width: 60px;
  border: none;
  background: transparent;
  font-size: 26px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 140px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column a {
  text-decoration: none;
  color: #666;
  margin-bottom: 18px;
  font-size: 14px;
}

.footer-column a:hover {
  color: #111;
}

/* MIDDLE */

.footer-middle {
  margin-top: 140px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.selectors {
  display: flex;
  gap: 14px;
}

.select-box {
  display: flex;
  flex-direction: column;
}

.select-box label {
  font-size: 14px;
  color: #777;
  margin-bottom: 8px;
}

.select-box select {
  height: 52px;
  min-width: 180px;

  padding: 0 16px;
  border: 1px solid #9f9b92;
  background: transparent;

  font-size: 15px;
  color: #333;
}

.socials {
  display: flex;
  gap: 36px;
}

.socials a {
  color: #333;
  text-decoration: underline;
  font-size: 14px;
}

.payments {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.payments span {
  border: 1px solid #d0cec6;
  background: #fafafa;
  padding: 8px 14px;
  font-size: 12px;
  border-radius: 4px;
}

/* BOTTOM */

.footer-bottom {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
}

.footer-bottom p {
  color: #666;
  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 1100px) {
  .footer-top,
  .footer-middle {
    flex-direction: column;
    gap: 50px;
  }

  .footer-links {
    gap: 60px;
    flex-wrap: wrap;
  }

  .newsletter {
    width: 100%;
  }

  .footer-bottom {
    justify-content: flex-start;
  }
}